@import "compass/reset";

@import "layouts/header";
@import "layouts/posts";

html{
  text-decoration: none;
   font-family: arial;
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
}
p{
  line-height: 180%;
  margin: 1em 0;
}
